/QtQuickCppQml_1/build-QtQuickCppQml_1-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/.qmake.stash
/QtQuickCppQml_1/build-QtQuickCppQml_1-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/datastore.o
/QtQuickCppQml_1/build-QtQuickCppQml_1-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/main.o
/QtQuickCppQml_1/build-QtQuickCppQml_1-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/Makefile
/QtQuickCppQml_1/build-QtQuickCppQml_1-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/moc_datastore.cpp
/QtQuickCppQml_1/build-QtQuickCppQml_1-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/moc_datastore.o
/QtQuickCppQml_1/build-QtQuickCppQml_1-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/moc_predefs.h
/QtQuickCppQml_1/build-QtQuickCppQml_1-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/qrc_qml.cpp
/QtQuickCppQml_1/build-QtQuickCppQml_1-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/qrc_qml.o
/QtQuickCppQml_1/build-QtQuickCppQml_1-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/QtQuickCppQml_1.exe
/QtQuickCppQml_1/QtQuickCppQml_1/QtQuickCppQml_1.pro.user
